<h2>{{post.title}}</h2>
<h4>{{post.date}}</h4>
<p class="postBody">{{post.body}}</p>
<p>Screenshot:</p>
<img class="postImage" src={{post.screenshot}}><br>
<a target="_blank" href={{post.link}}>See the original post!</a><br>
<button {{action 'delete' post}} class="btn btn-sm btn-danger">Delete Post</button>
