<h2>{{model.title}}</h2>
<h4>{{model.date}}</h4>
<p class="postBody">{{model.body}}</p>
<img class="postImage" src={{model.screenshot}}><br>
<a target="_blank" href={{model.link}}>See the original post!</a>
{{post-detail post=model}}
